---
import Social from "./Social.astro";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    Learn more about my projects on
    <Social platform="x" username="jcesarcori" />
    <Social platform="github" username="cesarcori" />
    <Social platform="youtube" username="@raisingcode" />
    <Social
      platform="linkedin"
      username="in/julio-cesar-cori-ochoa-50ab2bbb/"
    />
  </p>
</footer>
